In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
files.upload()

Saving SAMPLE.csv to SAMPLE.csv

{'SAMPLE.csv': b'\xef\xbb\xbfsl No,name,college,age,hsc,SSLC,arrears,cmark\r\n1,A1,IITM,,89.9,92.6,0,95\r\n2,A2,ANNA UNIVERSITY,,76.8,77.9,,89\r\n3,A3,ANNA UNIVERSITY,,88.39,85.6,6,99\r\n4,A4,ANAMALAI UNIVERSITY,,92.5,94.6,1,76\r\n5,A5,,,79.3,65,2,89\r\n6,A6,SRM,,,88.1,0,89.6\r\n7,A7,SAVEETHA,,91.8,,7,78.3\r\n8,A8,,,99.8,65.8,6,77.5\r\n,,,,,,,\r\n9,A9,ANAMALAI UNIVERSITY,,98.7,91,2,76\r\n10,AD,fogjof,,56,9,78,2\r\n11,A10,IITM,,94,77.6,1,75\r\n12,A11,IITK,,88.2,75.9,2,72\r\n13,A12,,,78.9,84.9,3,83\r\n14,A13,SRM,,86.9,97,4,92\r\n'}

In [ ]:
df = pd.read_csv("/content/SAMPLE.csv")
df

    sl No name              college  age    hsc  SSLC  arrears  cmark
0     1.0   A1                 IITM  NaN  89.90  92.6      0.0   95.0
1     2.0   A2      ANNA UNIVERSITY  NaN  76.80  77.9      NaN   89.0
2     3.0   A3      ANNA UNIVERSITY  NaN  88.39  85.6      6.0   99.0
3     4.0   A4  ANAMALAI UNIVERSITY  NaN  92.50  94.6      1.0   76.0
4     5.0   A5                  NaN  NaN  79.30  65.0      2.0   89.0
5     6.0   A6                  SRM  NaN    NaN  88.1      0.0   89.6
6     7.0   A7             SAVEETHA  NaN  91.80   NaN      7.0   78.3
7     8.0   A8                  NaN  NaN  99.80  65.8      6.0   77.5
8     NaN  NaN                  NaN  NaN    NaN   NaN      NaN    NaN
9     9.0   A9  ANAMALAI UNIVERSITY  NaN  98.70  91.0      2.0   76.0
10   10.0   AD               fogjof  NaN  56.00   9.0     78.0    2.0
11   11.0  A10                 IITM  NaN  94.00  77.6      1.0   75.0
12   12.0  A11                 IITK  NaN  88.20  75.9      2.0   72.0
13   13.0  A12                  NaN  NaN  78.90  84.9      3.0   83.0
14   14.0  A13                  SRM  NaN  86.90  97.0      4.0   92.0

In [ ]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
dtype: bool

In [ ]:
df.isna()

    sl No   name  college   age    hsc   SSLC  arrears  cmark
0   False  False    False  True  False  False    False  False
1   False  False    False  True  False  False     True  False
2   False  False    False  True  False  False    False  False
3   False  False    False  True  False  False    False  False
4   False  False     True  True  False  False    False  False
5   False  False    False  True   True  False    False  False
6   False  False    False  True  False   True    False  False
7   False  False     True  True  False  False    False  False
8    True   True     True  True   True   True     True   True
9   False  False    False  True  False  False    False  False
10  False  False    False  True  False  False    False  False
11  False  False    False  True  False  False    False  False
12  False  False    False  True  False  False    False  False
13  False  False     True  True  False  False    False  False
14  False  False    False  True  False  False    False  False

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 45.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=0b985e2ae1db11ff2c29225f73ec44e8cafa56c5a16740c992bee07cdc05715c
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import pyspark

In [3]:
dir(pyspark)

['Accumulator',
 'AccumulatorParam',
 'BarrierTaskContext',
 'BarrierTaskInfo',
 'BasicProfiler',
 'Broadcast',
 'HiveContext',
 'InheritableThread',
 'MarshalSerializer',
 'PickleSerializer',
 'Profiler',
 'RDD',
 'RDDBarrier',
 'Row',
 'SQLContext',
 'SparkConf',
 'SparkContext',
 'SparkFiles',
 'SparkJobInfo',
 'SparkStageInfo',
 'StatusTracker',
 'StorageLevel',
 'TaskContext',
 '_NoValue',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_globals',
 'accumulators',
 'broadcast',
 'cloudpickle',
 'conf',
 'context',
 'copy_func',
 'files',
 'find_spark_home',
 'inheritable_thread_target',
 'java_gateway',
 'join',
 'keyword_only',
 'profiler',
 'rdd',
 'rddsampler',
 'resource',
 'resultiterable',
 'serializers',
 'shuffle',
 'since',
 'sql',
 'statcounter',
 'status',
 'storagelevel',
 'taskcontext',
 'traceback_utils',
 'types',
 'util',
 'version',
 'wraps']

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('sample').getOrCreate()

In [6]:
data1 = [("arun","kumar",'s',56,'M',45000),("mahesh","",'sasi',48,'M',12000),("bala","",'s',89,'M',5000)]

In [7]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

In [8]:
schema1= StructType([
                    StructField("firstname",StringType(),True),
                    StructField("middlename",StringType(),True),
                    StructField("lastname",StringType(),True),
                    StructField("ID",IntegerType(),True),
                    StructField("gender",StringType(),True),
                    StructField("salary",IntegerType(),True)
])

In [9]:
dx = spark.createDataFrame(data=data1,schema=schema1)

In [10]:
dx.show()

+---------+----------+--------+---+------+------+
|firstname|middlename|lastname| ID|gender|salary|
+---------+----------+--------+---+------+------+
|     arun|     kumar|       s| 56|     M| 45000|
|   mahesh|          |    sasi| 48|     M| 12000|
|     bala|          |       s| 89|     M|  5000|
+---------+----------+--------+---+------+------+

In [11]:
dx.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- ID: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [12]:
dx_pd= dx.toPandas()
dx_pd

  firstname middlename lastname  ID gender  salary
0      arun      kumar        s  56      M   45000
1    mahesh                sasi  48      M   12000
2      bala                   s  89      M    5000

In [13]:
col =["fname",'mname','lname','id','gender','salary']

In [14]:
dy = spark.createDataFrame(data=data1,schema=col)
dy.printSchema()
dy.show()

root
 |-- fname: string (nullable = true)
 |-- mname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- id: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+-----+-----+---+------+------+
| fname|mname|lname| id|gender|salary|
+------+-----+-----+---+------+------+
|  arun|kumar|    s| 56|     M| 45000|
|mahesh|     | sasi| 48|     M| 12000|
|  bala|     |    s| 89|     M|  5000|
+------+-----+-----+---+------+------+

In [15]:
df = spark.read.format('csv').load('/content/SAMPLE.csv')
df.printSchema()
df.show()

AnalysisException: ignored

In [ ]:
df1 = spark.read.option("header",True).csv('/content/SAMPLE.csv')
df1.printSchema()
df1.show()

In [ ]:
df1.write.option('header',True).csv("/content/sasa")

In [38]:
data2 = [("arun","Mech",45000),("mahesh","Aero",12000),("bala","Cse",70000),("mano","Mech",49000),("abishek","Aero",65000),("deepak","ece",35000),("rohan","ece",5000)]
col=["name","dept","salary"]
df2= spark.createDataFrame(data= data2,schema=col)
df2.printSchema()
df2.show(truncate=False)

root
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary: long (nullable = true)

+-------+----+------+
|name   |dept|salary|
+-------+----+------+
|arun   |Mech|45000 |
|mahesh |Aero|12000 |
|bala   |Cse |70000 |
|mano   |Mech|49000 |
|abishek|Aero|65000 |
|deepak |ece |35000 |
|rohan  |ece |5000  |
+-------+----+------+

In [23]:
df2_px=df2.distinct()   #removal of duplication
df2_px.show()

+-------+----+------+
|   name|dept|salary|
+-------+----+------+
|   bala| Cse|  5000|
| mahesh|Aero| 12000|
|   arun|Mech| 45000|
|   mano| ITE|  5000|
|abishek|  IT|  5000|
|  rohan| ece|  5000|
+-------+----+------+

In [24]:
df2_x = df2.dropDuplicates()
df2_x.show()

+-------+----+------+
|   name|dept|salary|
+-------+----+------+
|   bala| Cse|  5000|
| mahesh|Aero| 12000|
|   arun|Mech| 45000|
|   mano| ITE|  5000|
|abishek|  IT|  5000|
|  rohan| ece|  5000|
+-------+----+------+

In [27]:
df2_x = df2.dropDuplicates(["dept"])
df2_x.show()

+------+----+------+
|  name|dept|salary|
+------+----+------+
|mahesh|Aero| 12000|
|  bala| Cse|  5000|
|  arun|Mech| 45000|
| rohan| ece|  5000|
+------+----+------+

In [28]:
df2_x = df2.dropDuplicates(["dept","salary"]) #common duplicates are deleted similar to AND operation
df2_x.show()

+-------+----+------+
|   name|dept|salary|
+-------+----+------+
|abishek|Aero|  5000|
| mahesh|Aero| 12000|
|   bala| Cse|  5000|
|   mano|Mech|  5000|
|   arun|Mech| 45000|
|  rohan| ece|  5000|
+-------+----+------+

In [29]:
df2.show()

+-------+----+------+
|   name|dept|salary|
+-------+----+------+
|   arun|Mech| 45000|
| mahesh|Aero| 12000|
|   bala| Cse|  5000|
|   mano|Mech|  5000|
|abishek|Aero|  5000|
|  rohan| ece|  5000|
|  rohan| ece|  5000|
+-------+----+------+

In [35]:
df2_x = df2.dropDuplicates(["dept","salary"]) #common duplicates are deleted similar to AND operation
                                              # based on the coloumn order the values are sorted
df2_x.show()

+-------+----+------+
|   name|dept|salary|
+-------+----+------+
|abishek|Aero|  5000|
| mahesh|Aero| 12000|
|   bala| Cse|  5000|
|   mano|Mech|  5000|
|   arun|Mech| 45000|
|  rohan| ece|  5000|
+-------+----+------+

In [36]:
df2_x = df2.dropDuplicates(["salary","dept"]) #common duplicates are deleted similar to AND operation
                                              # based on the coloumn order the values are sorted
df2_x.show()

+-------+----+------+
|   name|dept|salary|
+-------+----+------+
|abishek|Aero|  5000|
|   bala| Cse|  5000|
|   mano|Mech|  5000|
|  rohan| ece|  5000|
| mahesh|Aero| 12000|
|   arun|Mech| 45000|
+-------+----+------+

In [45]:
df2.filter(df2.dept=='Mech').show()

+----+----+------+
|name|dept|salary|
+----+----+------+
|arun|Mech| 45000|
|mano|Mech| 49000|
+----+----+------+

In [32]:
df2.filter(df2.dept!='Mech').show()

+-------+----+------+
|   name|dept|salary|
+-------+----+------+
| mahesh|Aero| 12000|
|   bala| Cse|  5000|
|abishek|Aero|  5000|
|  rohan| ece|  5000|
|  rohan| ece|  5000|
+-------+----+------+

In [34]:
df2.filter(~(df2.dept=='Mech')).show() # ~ -> NOT EQUAL TO

+-------+----+------+
|   name|dept|salary|
+-------+----+------+
| mahesh|Aero| 12000|
|   bala| Cse|  5000|
|abishek|Aero|  5000|
|  rohan| ece|  5000|
|  rohan| ece|  5000|
+-------+----+------+

In [37]:
df2.filter(df2.salary>6000).show()

+------+----+------+
|  name|dept|salary|
+------+----+------+
|  arun|Mech| 45000|
|mahesh|Aero| 12000|
+------+----+------+

In [39]:
df2.filter(df2.salary>20000).show()

+-------+----+------+
|   name|dept|salary|
+-------+----+------+
|   arun|Mech| 45000|
|   bala| Cse| 70000|
|   mano|Mech| 49000|
|abishek|Aero| 65000|
| deepak| ece| 35000|
+-------+----+------+

In [40]:
df2.filter((df2.salary>20000)&(df2.dept=="Aero")).show()

+-------+----+------+
|   name|dept|salary|
+-------+----+------+
|abishek|Aero| 65000|
+-------+----+------+

In [41]:
df2.filter((df2.salary>20000)|(df2.dept=="Aero")).show()

+-------+----+------+
|   name|dept|salary|
+-------+----+------+
|   arun|Mech| 45000|
| mahesh|Aero| 12000|
|   bala| Cse| 70000|
|   mano|Mech| 49000|
|abishek|Aero| 65000|
| deepak| ece| 35000|
+-------+----+------+

In [47]:
x_dept= ["Aero",'Mech','Cse']
y_salary= [45000,70000,49000]
df2.filter(df2.dept.isin(x_dept)&df2.salary.isin(y_salary)).show()

+----+----+------+
|name|dept|salary|
+----+----+------+
|arun|Mech| 45000|
|bala| Cse| 70000|
|mano|Mech| 49000|
+----+----+------+

In [48]:
df2.filter(df2.name.startswith("a")).show()

+-------+----+------+
|   name|dept|salary|
+-------+----+------+
|   arun|Mech| 45000|
|abishek|Aero| 65000|
+-------+----+------+

In [49]:
df2.filter(df2.name.endswith("a")).show()

+----+----+------+
|name|dept|salary|
+----+----+------+
|bala| Cse| 70000|
+----+----+------+

In [53]:
df2.filter(df2.name.endswith("la")|df2.name.endswith('n')).show()

+-----+----+------+
| name|dept|salary|
+-----+----+------+
| arun|Mech| 45000|
| bala| Cse| 70000|
|rohan| ece|  5000|
+-----+----+------+

In [51]:
df2.show()

+-------+----+------+
|   name|dept|salary|
+-------+----+------+
|   arun|Mech| 45000|
| mahesh|Aero| 12000|
|   bala| Cse| 70000|
|   mano|Mech| 49000|
|abishek|Aero| 65000|
| deepak| ece| 35000|
|  rohan| ece|  5000|
+-------+----+------+

In [60]:
data2 = [("arun","Mech",45000),("maheshkjgsh","Aero",12000),("baskjgla","Cse",70000),("majgno","Mech",49000),("abishek","Aero",65000),("deepak","ece",35000),("rohan","ece",5000),("suresh","ece",5000),("prakash","ece",5000)]
col=["name","dept","salary"]
df2= spark.createDataFrame(data= data2,schema=col)
df2.printSchema()
df2.show(truncate=False)

root
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary: long (nullable = true)

+-----------+----+------+
|name       |dept|salary|
+-----------+----+------+
|arun       |Mech|45000 |
|maheshkjgsh|Aero|12000 |
|baskjgla   |Cse |70000 |
|majgno     |Mech|49000 |
|abishek    |Aero|65000 |
|deepak     |ece |35000 |
|rohan      |ece |5000  |
|suresh     |ece |5000  |
|prakash    |ece |5000  |
+-----------+----+------+

In [55]:
df2.filter(df2.name.contains("jg")).show()

+--------+----+------+
|    name|dept|salary|
+--------+----+------+
|mahejgsh|Aero| 12000|
|  bajgla| Cse| 70000|
|  majgno|Mech| 49000|
+--------+----+------+

In [56]:
df2.filter(df2.name.contains("sh")).show()

+--------+----+------+
|    name|dept|salary|
+--------+----+------+
|mahejgsh|Aero| 12000|
| abishek|Aero| 65000|
|  suresh| ece|  5000|
| prakash| ece|  5000|
+--------+----+------+

In [58]:
df2.filter(df2.name.like('%jg%')).show()

+----------+----+------+
|      name|dept|salary|
+----------+----+------+
|maheshjgsh|Aero| 12000|
|  baskjgla| Cse| 70000|
|    majgno|Mech| 49000|
+----------+----+------+

In [63]:
df2.filter(df2.name.like('%s%jg%')).show()

+-----------+----+------+
|       name|dept|salary|
+-----------+----+------+
|maheshkjgsh|Aero| 12000|
|   baskjgla| Cse| 70000|
+-----------+----+------+

In [65]:
data2 = [(10,"arun",101,45000),(11,"mahesh",102,12000),(12,"bala",103,70000),(13,"mano",104,49000),(14,"abishek",105,65000),(15,"deepak",106,35000),(16,"rohan",102,5000),(17,"suresh",105,5000),(18,"prakash",103,5000),(19,"surender",106,5000)]
col=["id","name","dept_id","salary"]
df_emp= spark.createDataFrame(data= data2,schema=col)
df_emp.printSchema()
df_emp.show(truncate=False) 
data3 = [("hr",101),("rmg",102),("r&d",103),("marketing",104),("accounts",105),("sales",107)]
col3 = ["dept",'deptID']
df_dept = spark.createDataFrame(data= data3,schema=col3)
df_dept.printSchema()
df_dept.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- dept_id: long (nullable = true)
 |-- salary: long (nullable = true)

+---+--------+-------+------+
|id |name    |dept_id|salary|
+---+--------+-------+------+
|10 |arun    |101    |45000 |
|11 |mahesh  |102    |12000 |
|12 |bala    |103    |70000 |
|13 |mano    |104    |49000 |
|14 |abishek |105    |65000 |
|15 |deepak  |106    |35000 |
|16 |rohan   |102    |5000  |
|17 |suresh  |105    |5000  |
|18 |prakash |103    |5000  |
|19 |surender|106    |5000  |
+---+--------+-------+------+

root
 |-- dept: string (nullable = true)
 |-- deptID: long (nullable = true)

+---------+------+
|     dept|deptID|
+---------+------+
|       hr|   101|
|      rmg|   102|
|      r&d|   103|
|marketing|   104|
| accounts|   105|
|    sales|   107|
+---------+------+

In [66]:
df_emp.join(df_dept,df_emp.dept_id==df_dept.deptID,"inner").show()

+---+-------+-------+------+---------+------+
| id|   name|dept_id|salary|     dept|deptID|
+---+-------+-------+------+---------+------+
| 10|   arun|    101| 45000|       hr|   101|
| 11| mahesh|    102| 12000|      rmg|   102|
| 16|  rohan|    102|  5000|      rmg|   102|
| 12|   bala|    103| 70000|      r&d|   103|
| 18|prakash|    103|  5000|      r&d|   103|
| 13|   mano|    104| 49000|marketing|   104|
| 14|abishek|    105| 65000| accounts|   105|
| 17| suresh|    105|  5000| accounts|   105|
+---+-------+-------+------+---------+------+

In [67]:
df_emp.join(df_dept,df_emp.dept_id==df_dept.deptID,"outer").show() #instead of outer we can use full or fullouter

+----+--------+-------+------+---------+------+
|  id|    name|dept_id|salary|     dept|deptID|
+----+--------+-------+------+---------+------+
|  10|    arun|    101| 45000|       hr|   101|
|  11|  mahesh|    102| 12000|      rmg|   102|
|  16|   rohan|    102|  5000|      rmg|   102|
|  12|    bala|    103| 70000|      r&d|   103|
|  18| prakash|    103|  5000|      r&d|   103|
|  13|    mano|    104| 49000|marketing|   104|
|  14| abishek|    105| 65000| accounts|   105|
|  17|  suresh|    105|  5000| accounts|   105|
|  15|  deepak|    106| 35000|     null|  null|
|  19|surender|    106|  5000|     null|  null|
|null|    null|   null|  null|    sales|   107|
+----+--------+-------+------+---------+------+

In [70]:
df_emp.join(df_dept,df_emp.dept_id==df_dept.deptID,"left_outer").show() # left,leftouter,left_outer are same

+---+--------+-------+------+---------+------+
| id|    name|dept_id|salary|     dept|deptID|
+---+--------+-------+------+---------+------+
| 10|    arun|    101| 45000|       hr|   101|
| 11|  mahesh|    102| 12000|      rmg|   102|
| 16|   rohan|    102|  5000|      rmg|   102|
| 12|    bala|    103| 70000|      r&d|   103|
| 18| prakash|    103|  5000|      r&d|   103|
| 13|    mano|    104| 49000|marketing|   104|
| 14| abishek|    105| 65000| accounts|   105|
| 17|  suresh|    105|  5000| accounts|   105|
| 15|  deepak|    106| 35000|     null|  null|
| 19|surender|    106|  5000|     null|  null|
+---+--------+-------+------+---------+------+

In [69]:
df_emp.join(df_dept,df_emp.dept_id==df_dept.deptID,"right").show() # right,rightouter,right_outer are same

+----+-------+-------+------+---------+------+
|  id|   name|dept_id|salary|     dept|deptID|
+----+-------+-------+------+---------+------+
|  10|   arun|    101| 45000|       hr|   101|
|  11| mahesh|    102| 12000|      rmg|   102|
|  16|  rohan|    102|  5000|      rmg|   102|
|  12|   bala|    103| 70000|      r&d|   103|
|  18|prakash|    103|  5000|      r&d|   103|
|  13|   mano|    104| 49000|marketing|   104|
|  14|abishek|    105| 65000| accounts|   105|
|  17| suresh|    105|  5000| accounts|   105|
|null|   null|   null|  null|    sales|   107|
+----+-------+-------+------+---------+------+

In [71]:
df_emp.join(df_dept,df_emp.dept_id==df_dept.deptID,"leftsemi").show()

+---+-------+-------+------+
| id|   name|dept_id|salary|
+---+-------+-------+------+
| 10|   arun|    101| 45000|
| 11| mahesh|    102| 12000|
| 16|  rohan|    102|  5000|
| 12|   bala|    103| 70000|
| 18|prakash|    103|  5000|
| 13|   mano|    104| 49000|
| 14|abishek|    105| 65000|
| 17| suresh|    105|  5000|
+---+-------+-------+------+

In [72]:
df_emp.join(df_dept,df_emp.dept_id==df_dept.deptID,"leftanti").show() #opposite to leftsemi

+---+--------+-------+------+
| id|    name|dept_id|salary|
+---+--------+-------+------+
| 15|  deepak|    106| 35000|
| 19|surender|    106|  5000|
+---+--------+-------+------+

In [77]:
data2 = [(10,"arun",101,45000),(11,"mahesh",102,12000),(12,"bala",103,70000),(13,"mano",104,49000),(14,"abishek",105,65000),(15,"deepak",106,35000)]
data3 = [(16,"rohan",102,5000),(17,"suresh",105,5000),(18,"prakash",103,5000),(19,"surender",106,5000),(14,"abishek",105,65000)]
col=["id","name","dept_id","salary"]
df_emp1= spark.createDataFrame(data= data2,schema=col)
df_emp1.printSchema()
df_emp1.show(truncate=False)
df_emp2= spark.createDataFrame(data= data3,schema=col)
df_emp2.printSchema()
df_emp2.show(truncate=False)

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- dept_id: long (nullable = true)
 |-- salary: long (nullable = true)

+---+-------+-------+------+
|id |name   |dept_id|salary|
+---+-------+-------+------+
|10 |arun   |101    |45000 |
|11 |mahesh |102    |12000 |
|12 |bala   |103    |70000 |
|13 |mano   |104    |49000 |
|14 |abishek|105    |65000 |
|15 |deepak |106    |35000 |
+---+-------+-------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- dept_id: long (nullable = true)
 |-- salary: long (nullable = true)

+---+--------+-------+------+
|id |name    |dept_id|salary|
+---+--------+-------+------+
|16 |rohan   |102    |5000  |
|17 |suresh  |105    |5000  |
|18 |prakash |103    |5000  |
|19 |surender|106    |5000  |
|14 |abishek |105    |65000 |
+---+--------+-------+------+

In [78]:
df_emp_new = df_emp2.union(df_emp1)
df_emp_new.show()

+---+--------+-------+------+
| id|    name|dept_id|salary|
+---+--------+-------+------+
| 16|   rohan|    102|  5000|
| 17|  suresh|    105|  5000|
| 18| prakash|    103|  5000|
| 19|surender|    106|  5000|
| 14| abishek|    105| 65000|
| 10|    arun|    101| 45000|
| 11|  mahesh|    102| 12000|
| 12|    bala|    103| 70000|
| 13|    mano|    104| 49000|
| 14| abishek|    105| 65000|
| 15|  deepak|    106| 35000|
+---+--------+-------+------+

In [79]:
df_emp_new = df_emp2.union(df_emp1).distinct()
df_emp_new.show()

+---+--------+-------+------+
| id|    name|dept_id|salary|
+---+--------+-------+------+
| 17|  suresh|    105|  5000|
| 16|   rohan|    102|  5000|
| 19|surender|    106|  5000|
| 18| prakash|    103|  5000|
| 14| abishek|    105| 65000|
| 10|    arun|    101| 45000|
| 11|  mahesh|    102| 12000|
| 12|    bala|    103| 70000|
| 13|    mano|    104| 49000|
| 15|  deepak|    106| 35000|
+---+--------+-------+------+